.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: auto;
    max-width: 650px;
    grid-gap: 50px;
    gap: 50px;
    color: #fff;
}

.primary {
    color: #fff;
    background: #5cee94;
}

.ghost {
    border: 1px solid transparent;
    background: #bc00c9;
    color: #fff;
    border-radius: 2px;
}

.color-name {
    color: #fff;
}

.login-register {
    display: flex;
}