a {
    color: #fff;
    font-weight: 300;
}
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    margin-left: auto;
    flex: 1 1;
    max-width: 650px;
    grid-gap: 50px;
    gap: 50px;
}