.nutrition-card {
    background-color:bisque;
    text-decoration: none;
    

}

.nutrition-name {
    font-size: x-large;
}

.nutrition-text {
    text-decoration: none;
}

.nutrition-image {
    width: 200px;
}