
h1 {
    color: #fbf5f5;
    position: relative;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

html,body {
    background-color: #2c4147;
}

.landing-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    color:rgb(247, 245, 243);
}

.hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1600px;
    margin: 50px;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile-color {
    color: white;
}